.select {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  width: max-content;
  border-radius: var(--border-radius);
  background: var(--elements-bg);
}

.select__item {
  padding: 0.75rem 1rem;
  background: var(--elements-bg);
  color: var(--text);
  border: none;
  text-align: start;
  cursor: pointer;
}

.select__item:hover {
  filter: brightness(var(--selected-item-brightness));
}

.select__item--selected {
  filter: brightness(var(--selected-item-brightness));
}
