* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Nunito Sans', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --elements-bg: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(0, 0%, 98%);
  color: var(--text);
  background-color: var(--bg);
}

html:not(.style-scope)[dark] {
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --bg: hsl(207, 26%, 17%);
  --elements-bg: hsl(209, 23%, 22%);
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 1.125rem;
  font-weight: 800;
}
